proxmox_host         = "pve1.local.domain:8006"
proxmox_node         = "pve1"
proxmox_api_user     = "root@pam"
proxmox_api_password = "pve_password"
#proxy_url            = "http://proxy_address_if_using_proxy:8080"

vm_id	             = "200"
root_password        = "some_random_passoword"

# When using CEPH
iso_storage_pool = "cephfs"
cloud_init_storage_pool = "cephfs"
disk_storage_pool = "ceph_pool_name"

net_vlan_id		= "123"
net_ip_addr		= "10.10.10.10"
net_netmask		= "255.255.255.0"
net_gateway		= "10.10.10.1"
net_nameservers		= "10.10.10.1"
